/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[5].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].rules[1].use[1]!./projects/riu-scss/theme.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/**
* Grid columns. This setting is shared between
* iotaCSS grid objects and size, pull & push
* utilities. You can change it also locally to
* each module.
*
* Type: Unitless Number / List
*/
/**
* Global namespace for Objects, Components and 
* Utilities
*
* Type: String
*/
/**
* Default gutters. This setting is shared between
* multiple objects and utilities as the default value
* for gutters. You can change it also locally to each
* module.
*
* Type: Number / List / Map
*/
/**
* Enables flexbox across the app. If you do not want
* all modules to use flexbox you can keep this value
* false and set it to true separately to each one of
* them locally.
*
* Type: Boolean
*/
/**
* Enables rtl across the app. If you enable this setting
* the final CSS will be converted to RTL.
*
* Type: Boolean
*/
/**
* Default global breakpoints map. These are the
* default breakpoints map that will be shared across
* all iotaCSS modules. You can change it also locally
* to each module.
*
* Type: Map
*/
/**
* Global breakpoint suffix naming setting. All breakpoint
* specific styles have a '@breakpointName' suffix by default.
* The \ character is used to escape the @ character.
*
* Type: String
*/
/**
* Global delimiter naming setting for Size, Push and Pull
* utilities. By default it is '/' (.u-1/2) and you can change
* it for example to 'of' so that the generated HTML class will be
* 'u-1of2'.
*
* Type: String
*/
html {
  font-size: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-size: 160px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
/**
 * A modern, elegant and minimal combination of Normalize.css and
 * CSS Reset. Compatible with IE10+.
 */
/**
 * 1. Sets box-sizing to border-box by default.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 3. Makes font thinkness to look the same in Firefox and Webkit.
 */
html {
  box-sizing: border-box;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 */
}
/**
 * Simple reset of element margin and padding
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre, code,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}
/**
 * Sets box-sizing to all elements and before / after
 */
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Fixes the issues of main HTML5 tag with even earlier versions of IE.
 * For IE9-, please use HTML5Shiv https://github.com/aFarkas/html5shiv.
 */
main {
  display: block;
}
/**
 * Sets heading font-size to be equal to the content font-size. Encourages
 * the use of different heading elements to define the position of the heading
 * in the document and not the heading look.

 * Opinionated and disabled by default.
 */
/**
 * Applies a bold font weight to strong instead of the default bolder
 */
strong {
  font-weight: bold;
}
/**
 * Removes default border spacing and collapse
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * 1. Removes border from images inside links
 * 2. Helps images to properly behave in responsive layouts
 */
img {
  border-style: none;
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 2 */
  vertical-align: middle;
  /* 2 */
}
/**
 * 1. Removes default grey background in IE10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Background color names
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-bgcolor-primary {
  background-color: #c95b59 !important;
}
.u-bgcolor-primary-darken {
  background-color: #ba5b5a !important;
}
.u-bgcolor-primary-lighten {
  background-color: #ffe6e6 !important;
}
.u-bgcolor-secondary {
  background-color: #292b2e !important;
}
.u-bgcolor-secondary-darken {
  background-color: #464a4e !important;
}
.u-bgcolor-secondary-lighten {
  background-color: #c7c7c7 !important;
}
.u-bgcolor-plaza {
  background-color: #896aaf !important;
}
.u-bgcolor-plaza-darken {
  background-color: #6f5095 !important;
}
.u-bgcolor-plaza-lighten {
  background-color: #efe7f8 !important;
}
/**
 * Color names
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-color-primary {
  color: #c95b59 !important;
}
.u-color-primary-darken {
  color: #ba5b5a !important;
}
.u-color-primary-lighten {
  color: #ffe6e6 !important;
}
.u-color-secondary {
  color: #292b2e !important;
}
.u-color-secondary-darken {
  color: #464a4e !important;
}
.u-color-secondary-lighten {
  color: #c7c7c7 !important;
}
.u-color-plaza {
  color: #896aaf !important;
}
.u-color-plaza-darken {
  color: #6f5095 !important;
}
.u-color-plaza-lighten {
  color: #efe7f8 !important;
}
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
  * Breakpoints map. Overrides the breakpoints map only
  * for display utility.
  *
  * Type: Map
  */
.u-flex {
  display: flex !important;
}
.u-block {
  display: block !important;
}
.u-hidden {
  display: none !important;
}
.u-inline {
  display: inline !important;
}
.u-inline-block {
  display: inline-block !important;
}
.u-visually-hidden {
  clip: rect(1px 1px 1px 1px) !important;
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
}
/**
 * Margin default gutter. Use a number for a simple size
 * and a map for responsive.
 *
 * Type: Number / Map
 */
/**
  * Margin extra gutters.
  *
  * Type: Map
  */
/**
  * Enables / Disables responsive classes
  *
  * Type: Boolean
  */
/**
  * Breakpoints map. Overrides the breakpoints map only
  * for margin utility.
  *
  * Type: Map
  */
/**
  * Namespace classes
  *
  * Type: String
  */
.u-m {
  margin: 24px !important;
}
.u-mt {
  margin-top: 24px !important;
}
.u-mr {
  margin-right: 24px !important;
}
.u-mb {
  margin-bottom: 24px !important;
}
.u-ml {
  margin-left: 24px !important;
}
.u-mv {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.u-mh {
  margin-right: 24px !important;
  margin-left: 24px !important;
}
.u-m-null {
  margin: 0 !important;
}
.u-mt-null {
  margin-top: 0 !important;
}
.u-mr-null {
  margin-right: 0 !important;
}
.u-mb-null {
  margin-bottom: 0 !important;
}
.u-ml-null {
  margin-left: 0 !important;
}
.u-mv-null {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-mh-null {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.u-m-xs {
  margin: 4px !important;
}
.u-mt-xs {
  margin-top: 4px !important;
}
.u-mr-xs {
  margin-right: 4px !important;
}
.u-mb-xs {
  margin-bottom: 4px !important;
}
.u-ml-xs {
  margin-left: 4px !important;
}
.u-mv-xs {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.u-mh-xs {
  margin-right: 4px !important;
  margin-left: 4px !important;
}
.u-m-sm {
  margin: 8px !important;
}
.u-mt-sm {
  margin-top: 8px !important;
}
.u-mr-sm {
  margin-right: 8px !important;
}
.u-mb-sm {
  margin-bottom: 8px !important;
}
.u-ml-sm {
  margin-left: 8px !important;
}
.u-mv-sm {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.u-mh-sm {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.u-m-md {
  margin: 16px !important;
}
.u-mt-md {
  margin-top: 16px !important;
}
.u-mr-md {
  margin-right: 16px !important;
}
.u-mb-md {
  margin-bottom: 16px !important;
}
.u-ml-md {
  margin-left: 16px !important;
}
.u-mv-md {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.u-mh-md {
  margin-right: 16px !important;
  margin-left: 16px !important;
}
.u-m-lg {
  margin: 24px !important;
}
.u-mt-lg {
  margin-top: 24px !important;
}
.u-mr-lg {
  margin-right: 24px !important;
}
.u-mb-lg {
  margin-bottom: 24px !important;
}
.u-ml-lg {
  margin-left: 24px !important;
}
.u-mv-lg {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.u-mh-lg {
  margin-right: 24px !important;
  margin-left: 24px !important;
}
.u-m-xl {
  margin: 32px !important;
}
.u-mt-xl {
  margin-top: 32px !important;
}
.u-mr-xl {
  margin-right: 32px !important;
}
.u-mb-xl {
  margin-bottom: 32px !important;
}
.u-ml-xl {
  margin-left: 32px !important;
}
.u-mv-xl {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.u-mh-xl {
  margin-right: 32px !important;
  margin-left: 32px !important;
}
/**
* Padding default gutter. Use a number for a simple size
* and a map for responsive.
*
* Type: Number / Map
*/
/**
* Padding extra gutters.
*
* Type: Map
*/
/**
* Enables / Disables responsive classes
*
* Type: Boolean
*/
/**
* Breakpoints map. Overrides the breakpoints map only
* for padding utility.
*
* Type: Map
*/
/**
* Namespace classes
*
* Type: String
*/
.u-p {
  padding: 24px !important;
}
.u-pt {
  padding-top: 24px !important;
}
.u-pr {
  padding-right: 24px !important;
}
.u-pb {
  padding-bottom: 24px !important;
}
.u-pl {
  padding-left: 24px !important;
}
.u-pv {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.u-ph {
  padding-right: 24px !important;
  padding-left: 24px !important;
}
.u-p-null {
  padding: 0 !important;
}
.u-pt-null {
  padding-top: 0 !important;
}
.u-pr-null {
  padding-right: 0 !important;
}
.u-pb-null {
  padding-bottom: 0 !important;
}
.u-pl-null {
  padding-left: 0 !important;
}
.u-pv-null {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.u-ph-null {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.u-p-xs {
  padding: 4px !important;
}
.u-pt-xs {
  padding-top: 4px !important;
}
.u-pr-xs {
  padding-right: 4px !important;
}
.u-pb-xs {
  padding-bottom: 4px !important;
}
.u-pl-xs {
  padding-left: 4px !important;
}
.u-pv-xs {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.u-ph-xs {
  padding-right: 4px !important;
  padding-left: 4px !important;
}
.u-p-sm {
  padding: 8px !important;
}
.u-pt-sm {
  padding-top: 8px !important;
}
.u-pr-sm {
  padding-right: 8px !important;
}
.u-pb-sm {
  padding-bottom: 8px !important;
}
.u-pl-sm {
  padding-left: 8px !important;
}
.u-pv-sm {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.u-ph-sm {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.u-p-md {
  padding: 16px !important;
}
.u-pt-md {
  padding-top: 16px !important;
}
.u-pr-md {
  padding-right: 16px !important;
}
.u-pb-md {
  padding-bottom: 16px !important;
}
.u-pl-md {
  padding-left: 16px !important;
}
.u-pv-md {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.u-ph-md {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.u-p-lg {
  padding: 24px !important;
}
.u-pt-lg {
  padding-top: 24px !important;
}
.u-pr-lg {
  padding-right: 24px !important;
}
.u-pb-lg {
  padding-bottom: 24px !important;
}
.u-pl-lg {
  padding-left: 24px !important;
}
.u-pv-lg {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.u-ph-lg {
  padding-right: 24px !important;
  padding-left: 24px !important;
}
.u-p-xl {
  padding: 32px !important;
}
.u-pt-xl {
  padding-top: 32px !important;
}
.u-pr-xl {
  padding-right: 32px !important;
}
.u-pb-xl {
  padding-bottom: 32px !important;
}
.u-pl-xl {
  padding-left: 32px !important;
}
.u-pv-xl {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.u-ph-xl {
  padding-right: 32px !important;
  padding-left: 32px !important;
}
/**
 * Enable / Disable breakpoint specific classes
 * 
 * Type: Boolean
 */
/**
 * Overrides breakpoints map only for position utility
 *
 * Type: Map
 */
.u-absolute {
  position: absolute !important;
}
.u-fixed {
  position: fixed !important;
}
.u-relative {
  position: relative !important;
}
.u-static {
  position: static !important;
}
.u-sticky {
  position: sticky !important;
}
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Overrides breakpoints map only for position utility
 * 
 * Type: Map
 */
.u-text-left {
  text-align: left !important;
}
.u-text-right {
  text-align: right !important;
}
.u-text-center {
  text-align: center !important;
}
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for margin utility.
 *
 * Type: Map
 */
.u-capitalize {
  text-transform: capitalize !important;
}
.u-uppercase {
  text-transform: uppercase !important;
}
.u-lowercase {
  text-transform: lowercase !important;
}
/**
 * Weight sizes
 *
 * Type: Map
 */
.u-weight-regular {
  font-weight: 400 !important;
}
.u-weight-medium {
  font-weight: 500 !important;
}
.u-weight-semibold {
  font-weight: 600 !important;
}
.u-weight-bold {
  font-weight: 700 !important;
}
.u-border-null {
  border-radius: 0;
}
.u-border-xs {
  border-radius: 4px;
}
.u-border-sm {
  border-radius: 8px;
}
.u-border-md {
  border-radius: 16px;
}
.u-border-lg {
  border-radius: 24px;
}
.u-border-full {
  border-radius: 100%;
}
.riu-theme {
  background-color: rgba(51, 51, 51, 0.25);
}
